<!DOCTYPE html>
<html>
    <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['bar','table']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Mês');
            {% for sla in sla_list %}
                data.addColumn('number', '{{ sla.name }}');
            {% endfor %}


            {% for row in matrix_data %}
                data.addRow({{row|safe}});
            {% endfor %}
            var options = {
                chart: {
                    title: 'MONITORAMENTO ZABBIX',
                    subtitle: 'RELATÓRIO DE DISPONIBILIDADE - {{cliente.name}}'
                },
                vAxis: {title: "% SLA", viewWindow: {min: 80}, gridlines: {color: '#333', minSpacing: 10}},
                legend: {position: 'in', textStyle: {fontSize: 12}}
            };
            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
            var formatter = new google.visualization.NumberFormat({'suffix': '%'});
            {% for sla in sla_list %}
                formatter.format(data, {{forloop.counter}});
            {% endfor %}
            
            // draw first chat
            chart.draw(data, google.charts.Bar.convertOptions(options));

            var options2 = {
                chart: {
                    title: 'MONITORAMENTO ZABBIX',
                    subtitle: 'RELATÓRIO DE DISPONIBILIDADE - {{cliente.name}}'
                 },
                legend: {position: 'in', textStyle: {fontSize: 12}}
            };
            var chart2 = new google.visualization.Table(document.getElementById('tablechart_material'));
            chart2.draw(data, options2);
            
        }
    </script>
    </head>
    <body>
        <div id="columnchart_material" style="width: 800px; height: 500px"></div>
        <div id="tablechart_material" ></div>
    </body>
</html>