{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block pagetitle %}Integração Zabbix{% endblock pagetitle %}
{% block broadcrumb %}Integração Zabbix{% endblock broadcrumb %}
{% block content %}


<div class="row">
    <div class="col-6">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy:"bootstrap4" }}
            <button class="btn btn-primary waves-effect">salvar</button>
        </form>
    </div>
</div>

{% endblock content %}




  

  



  
